*{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    box-sizing: border-box;
    font-family:  'Roboto Slab', serif;
}

body{
    background:url(../resources/background.jpg) #0a0025 center center/cover; /* https://source.unsplash.com/1080x600/?river */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#window{
    width: 80%;
    background: url(../resources/stadium.jpg) rgb(129 233 43) center center/cover;
    display: flex;
    flex-direction: column;
}

/* Top/game info */
#top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color:black;
    margin-top:0.5%;
}

#top > div{
    margin: 3px;
}

#over{
    color: black;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.box{
    display: inline-block;
    color: white;
    background-color: black;
    padding: 1px 5px;
    margin: 1px;
    text-shadow: none;
}

/* MID section/display board*/
#mid{
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap ;
}

#comp,#user{
    background-color: black;
    color: white;
    padding: 1% 2%;
    border-radius:10% ;
}

#comp div,#user div{
    margin: 1vh 0px;
}

#comp-stat,#user-stat{
    background-color: white;
    color: black;
    padding: 1px;
}

#result{
    color: rgb(238, 238, 238);
    text-shadow: 1px 1px 3px black,-2px -2px 5px black;
    padding: 5% 15%;
    font-size: 15vmin;
    background-color: rgb(80, 255, 80);
    margin: 5% 0px;
    border-radius: 15px;
    box-shadow: 2px -2px 16px black;
}

/* Bottom/user input */
#bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#bottom button{
    padding: 0.5% 1.2%;
    margin: 2%;
    color: black;
    font-size: 1.3rem;
   background: linear-gradient(0deg,rgb(255, 251, 215),rgb(157 126 250));
    border-width:3px ;
    border-color:  #8a9110;
    border-radius:5px ;     
}

#bottom button:hover{
    background: linear-gradient(0deg,#ff7f5b,#ff3800);
    position: relative;
    top:5px;
    box-shadow:none;
}

/* Utility Classes */
.box-shadow{
    box-shadow: 1px 1px 5px 1px black;
}
.sharp{
    text-shadow: -1px 1px 2px rgb(255 255 255);
}